<main>
  <h3>Browser</h3>
  <form action="/search" method="POST">
    <input type="text" class="search" name="search" placeholder="Search...">
    <input type="submit" value="search">
  </form>

  <div class="containercube">
    {{#each cubes}}
    <div class="cube">{{> cube}}</div>
    {{/each}}
  </div>

</main>